<div class="search-info">
  <div class="btn-group">
    <button class="btn btn-primary" type="button">Search by activity</button>
    <button
        class="btn btn-primary dropdown-toggle dropdown-toggle-split"
        data-toggle="dropdown"
        aria-expanded="false"
        type="button" (click)="onSearch()">

    </button>
    <div class="dropdown-menu" role="menu">
      <a class="dropdown-item" role="presentation" *ngFor="let s of allSports"
          (click)="toggleSport($event, s)">
          {{s}}
          <input type="checkbox" class="item-check"
                 [checked]="selectedSports.indexOf(s) !== -1">
      </a>
     </div>
  </div>
</div>
