<div class="search-info">
  <input type="search">
  <div class="btn-group">
    <button class="btn btn-primary" type="button">Search by activity</button>
    <button
        class="btn btn-primary dropdown-toggle dropdown-toggle-split"
        data-toggle="dropdown"
        aria-expanded="false"
        type="button">

    </button>
    <div class="dropdown-menu" role="menu">
      <a class="dropdown-item" role="presentation" href="#">Basketball<input type="checkbox" class="item-check"></a>
      <a class="dropdown-item" role="presentation" href="#">Football<input type="checkbox" class="item-check"></a>
      <a class="dropdown-item" role="presentation" href="#">Volleyball<input type="checkbox" class="item-check"></a>
      <a class="dropdown-item" role="presentation" href="#">Tenis<input type="checkbox" id="tenis-check" class="item-check"></a>
    </div>
  </div>
</div>
